.sidebar {
    display: flex;
    flex-direction: column;
    padding: 50px 15px 60px 55px;
    width: 252px;
    min-height: 100vh;
    &-logo {
        margin-bottom: 57px;
    }
}

.nav {
    &-title {
        font-size: $font-size-title;
        font-weight: 700;
        margin-bottom: 44px;
    }
    &-list {
        font-size: $font-size-main;

        & li:not(:last-child) {
            margin-bottom: 27px;
        }

        & img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            width: 26px;
            height: auto;
            object-fit: none;
        }

        & a {
            transition: color 0.2s ease;
        }

        & a:hover {
            color: #fd2e24;
        }
    }
}

.sidebar-help {
    margin-top: auto;
}

.help {
    font-size: $font-size-main;
}

.help-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}
