$main-font: 'Sofia', sans-serif;
$second-font: 'Circular Std', sans-serif;
$font-size-main: 16px;
$font-size-title: 30px;
$font-size-card-title: 26px;
$font-size-card-text: 15px;
$font-size-search: 17px;

// colors
$base-bgcolor: #fafafa;
$main-font-color: #000;
