*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

a,
button {
  cursor: pointer;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

input {
  outline: none;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-webkit-input-placeholder {
  color: unset;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

@font-face {
  font-family: "Sofia";
  src: url("../fonts/sofia-pro/Sofia-Bold.eot");
  src: local("Sofia Bold"), local("Sofia-Bold"), url("../fonts/sofia-pro/Sofia-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sofia-pro/Sofia-Bold.woff") format("woff"), url("../fonts/sofia-pro/Sofia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Sofia";
  src: url("../fonts/sofia-pro/Sofia-Medium.eot");
  src: local("Sofia Medium"), local("Sofia-Medium"), url("../fonts/sofia-pro/Sofia-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/sofia-pro/Sofia-Medium.woff") format("woff"), url("../fonts/sofia-pro/Sofia-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/circular/CircularStd-Medium.eot");
  src: local("Circular Std Medium"), local("CircularStd-Medium"), url("../fonts/circular/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/circular/CircularStd-Medium.woff2") format("woff2"), url("../fonts/circular/CircularStd-Medium.woff") format("woff"), url("../fonts/circular/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Sofia", sans-serif;
  color: #000;
  font-size: 16px;
  background-color: #fafafa;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
}

.main {
  padding-top: 45px;
  width: 1100px;
}

.visually-hidden {
  visibility: hidden;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 15px 60px 55px;
  width: 252px;
  min-height: 100vh;
}
.sidebar-logo {
  margin-bottom: 57px;
}

.nav-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 44px;
}
.nav-list {
  font-size: 16px;
}
.nav-list li:not(:last-child) {
  margin-bottom: 27px;
}
.nav-list img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 26px;
  height: auto;
  -o-object-fit: none;
     object-fit: none;
}
.nav-list a {
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.nav-list a:hover {
  color: #fd2e24;
}

.sidebar-help {
  margin-top: auto;
}

.help {
  font-size: 16px;
}

.help-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.search {
  width: 490px;
  height: 44px;
}
.search-icon {
  margin-right: 7px;
}

.search-label {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-input {
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Circular Std", sans-serif;
  font-size: 17px;
  background: none;
  border-radius: 15px;
}
.search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search-input:focus, .search-input:active {
  background-color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.header-nav {
  font-size: 17px;
  font-family: "Circular Std", sans-serif;
}
.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__item {
  position: relative;
}
.header-nav__item::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 0%;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.header-nav__item:hover::after {
  width: 100%;
}
.header-nav__item.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9px;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
}
.header-nav__item + .header-nav__item {
  margin-left: 42px;
}
.header-nav__item + .header-nav__item-icon {
  margin-left: 50px;
}
.header-nav__item-icon + .header-nav__item-icon {
  margin-left: 25px;
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.cards-wrapper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.col-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.col-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card:hover {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 5px 15px #4395939a;
          box-shadow: 0 5px 15px #4395939a;
}

.card-horizontal {
  width: 539px;
  height: 180px;
}

.card-sale {
  background-size: cover;
  background-position: center;
  font-size: 30px;
  font-family: "Sofia", sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-vertical {
  width: 259px;
  height: 380px;
}

.card-product {
  position: relative;
}
.card-product__link {
  width: 100%;
  height: 100%;
}
.card-product__fav-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}
.card-product__fav-btn svg {
  display: inline-block;
  vertical-align: middle;
  stroke: black;
  fill: #fff;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.card-product__fav-btn:hover svg {
  stroke: #fd2e24;
  fill: #fd2e24;
}
.card-product__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-section {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-section__title {
  font-family: "Sofia", sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
  color: #001aa2;
}
.card-section__desc {
  font-size: 15px;
}

.card-section-red .card-section__title {
  color: #fd2e24;
}

.search {
  width: 490px;
  height: 44px;
}
.search-icon {
  margin-right: 7px;
}

.search-label {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-input {
  padding: 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Circular Std", sans-serif;
  font-size: 17px;
  background: none;
  border-radius: 15px;
}
.search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.search-input:focus, .search-input:active {
  background-color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.header-nav {
  font-size: 17px;
  font-family: "Circular Std", sans-serif;
}
.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav__item {
  position: relative;
}
.header-nav__item::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 0%;
  -webkit-transition: width 0.2s ease;
  -o-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.header-nav__item:hover::after {
  width: 100%;
}
.header-nav__item.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9px;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
}
.header-nav__item + .header-nav__item {
  margin-left: 42px;
}
.header-nav__item + .header-nav__item-icon {
  margin-left: 50px;
}
.header-nav__item-icon + .header-nav__item-icon {
  margin-left: 25px;
}